body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;

}

header h1{
    margin: 0;
    color: #98c379;
}

header nav a{
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.hero{
    text-align: center;
    padding: 50px 20px;

}

.hero h2{
    color: #98c379;
}

.cta{
    background-color: #98c379;
    color: #121212;
    margin: 30px auto;
    padding: 15px 20px;
    text-align: center;
    max-width: 400px;
    border-radius: 10px;
    font-weight: bold;

}

.cta p{
    margin: 0;
}

/* TABELA */

.live-rates{
    margin: 30px auto;
    max-width: 800px;

}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}

th, td{
    padding: 10px;
    text-align: left;

}

th{
    background-color: #98c379;
    color: #121212;
}

tr:nth-child(even){     /* pseudo seletor pra variar o background de cada linha da tabela */
    background-color: #1b1b1b;
}

.changer{
    font-weight: 900;
}